<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--HTML은 위에서부터 코드 가 실행된다. css는 화면을 그리는 역할이므로 head에서 불러오는 것이 좋다.
    그렇지 않으면 css가 적용되지 않은 깨진 화면을 사용자가 볼 수 있기 때문-->
</head>
<body>